trunk/testCustomTag/web/WEB-INF/wsdl/78.47.79.221_8080/DocutankTank/TankWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.webservice.tank.docutank.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.webservice.tank.docutank.org/" name="TankWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.webservice.tank.docutank.org/" schemaLocation="http://78.47.79.221:8080/DocutankTank/TankWS?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://ws.webservice.central.docutank.org/" schemaLocation="http://78.47.79.221:8080/DocutankTank/TankWS?xsd=2"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="logout">
<part name="parameters" element="tns:logout"/>
</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse"/>
</message>
<message name="addNewUser">
<part name="parameters" element="tns:addNewUser"/>
</message>
<message name="addNewUserResponse">
<part name="parameters" element="tns:addNewUserResponse"/>
</message>
<message name="editUser">
<part name="parameters" element="tns:editUser"/>
</message>
<message name="editUserResponse">
<part name="parameters" element="tns:editUserResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<message name="getUserById">
<part name="parameters" element="tns:getUserById"/>
</message>
<message name="getUserByIdResponse">
<part name="parameters" element="tns:getUserByIdResponse"/>
</message>
<message name="getActiveUserById">
<part name="parameters" element="tns:getActiveUserById"/>
</message>
<message name="getActiveUserByIdResponse">
<part name="parameters" element="tns:getActiveUserByIdResponse"/>
</message>
<message name="getActiveUserList">
<part name="parameters" element="tns:getActiveUserList"/>
</message>
<message name="getActiveUserListResponse">
<part name="parameters" element="tns:getActiveUserListResponse"/>
</message>
<message name="getUserList">
<part name="parameters" element="tns:getUserList"/>
</message>
<message name="getUserListResponse">
<part name="parameters" element="tns:getUserListResponse"/>
</message>
<message name="addNewTankUser">
<part name="parameters" element="tns:addNewTankUser"/>
</message>
<message name="addNewTankUserResponse">
<part name="parameters" element="tns:addNewTankUserResponse"/>
</message>
<message name="editTankUser">
<part name="parameters" element="tns:editTankUser"/>
</message>
<message name="editTankUserResponse">
<part name="parameters" element="tns:editTankUserResponse"/>
</message>
<message name="deleteTankUser">
<part name="parameters" element="tns:deleteTankUser"/>
</message>
<message name="deleteTankUserResponse">
<part name="parameters" element="tns:deleteTankUserResponse"/>
</message>
<message name="getTankUserById">
<part name="parameters" element="tns:getTankUserById"/>
</message>
<message name="getTankUserByIdResponse">
<part name="parameters" element="tns:getTankUserByIdResponse"/>
</message>
<message name="getTankUserList">
<part name="parameters" element="tns:getTankUserList"/>
</message>
<message name="getTankUserListResponse">
<part name="parameters" element="tns:getTankUserListResponse"/>
</message>
<message name="getTankUserByUserIdAndTankId">
<part name="parameters" element="tns:getTankUserByUserIdAndTankId"/>
</message>
<message name="getTankUserByUserIdAndTankIdResponse">
<part name="parameters" element="tns:getTankUserByUserIdAndTankIdResponse"/>
</message>
<message name="unlinkTankUserByUserIdAndTankId">
<part name="parameters" element="tns:unlinkTankUserByUserIdAndTankId"/>
</message>
<message name="unlinkTankUserByUserIdAndTankIdResponse">
<part name="parameters" element="tns:unlinkTankUserByUserIdAndTankIdResponse"/>
</message>
<message name="getTankUsersByLoggedUser">
<part name="parameters" element="tns:getTankUsersByLoggedUser"/>
</message>
<message name="getTankUsersByLoggedUserResponse">
<part name="parameters" element="tns:getTankUsersByLoggedUserResponse"/>
</message>
<message name="getAcceptTankUsersByLoggedUser">
<part name="parameters" element="tns:getAcceptTankUsersByLoggedUser"/>
</message>
<message name="getAcceptTankUsersByLoggedUserResponse">
<part name="parameters" element="tns:getAcceptTankUsersByLoggedUserResponse"/>
</message>
<message name="getNotAcceptTankUsersByLoggedUser">
<part name="parameters" element="tns:getNotAcceptTankUsersByLoggedUser"/>
</message>
<message name="getNotAcceptTankUsersByLoggedUserResponse">
<part name="parameters" element="tns:getNotAcceptTankUsersByLoggedUserResponse"/>
</message>
<message name="addNewTank">
<part name="parameters" element="tns:addNewTank"/>
</message>
<message name="addNewTankResponse">
<part name="parameters" element="tns:addNewTankResponse"/>
</message>
<message name="editTank">
<part name="parameters" element="tns:editTank"/>
</message>
<message name="editTankResponse">
<part name="parameters" element="tns:editTankResponse"/>
</message>
<message name="deleteTank">
<part name="parameters" element="tns:deleteTank"/>
</message>
<message name="deleteTankResponse">
<part name="parameters" element="tns:deleteTankResponse"/>
</message>
<message name="getTankById">
<part name="parameters" element="tns:getTankById"/>
</message>
<message name="getTankByIdResponse">
<part name="parameters" element="tns:getTankByIdResponse"/>
</message>
<message name="getTankList">
<part name="parameters" element="tns:getTankList"/>
</message>
<message name="getTankListResponse">
<part name="parameters" element="tns:getTankListResponse"/>
</message>
<message name="getTankByTankName">
<part name="parameters" element="tns:getTankByTankName"/>
</message>
<message name="getTankByTankNameResponse">
<part name="parameters" element="tns:getTankByTankNameResponse"/>
</message>
<message name="getTankByTankBaseUrl">
<part name="parameters" element="tns:getTankByTankBaseUrl"/>
</message>
<message name="getTankByTankBaseUrlResponse">
<part name="parameters" element="tns:getTankByTankBaseUrlResponse"/>
</message>
<message name="getTanksByLoggedUser">
<part name="parameters" element="tns:getTanksByLoggedUser"/>
</message>
<message name="getTanksByLoggedUserResponse">
<part name="parameters" element="tns:getTanksByLoggedUserResponse"/>
</message>
<message name="getAcceptTanksByLoggedUser">
<part name="parameters" element="tns:getAcceptTanksByLoggedUser"/>
</message>
<message name="getAcceptTanksByLoggedUserResponse">
<part name="parameters" element="tns:getAcceptTanksByLoggedUserResponse"/>
</message>
<message name="addNewItem">
<part name="parameters" element="tns:addNewItem"/>
</message>
<message name="addNewItemResponse">
<part name="parameters" element="tns:addNewItemResponse"/>
</message>
<message name="addNewItemVersion">
<part name="parameters" element="tns:addNewItemVersion"/>
</message>
<message name="addNewItemVersionResponse">
<part name="parameters" element="tns:addNewItemVersionResponse"/>
</message>
<message name="addNewCluster">
<part name="parameters" element="tns:addNewCluster"/>
</message>
<message name="addNewClusterResponse">
<part name="parameters" element="tns:addNewClusterResponse"/>
</message>
<message name="getClusterByClusterName">
<part name="parameters" element="tns:getClusterByClusterName"/>
</message>
<message name="getClusterByClusterNameResponse">
<part name="parameters" element="tns:getClusterByClusterNameResponse"/>
</message>
<message name="getClusterByClusterBaseUrl">
<part name="parameters" element="tns:getClusterByClusterBaseUrl"/>
</message>
<message name="getClusterByClusterBaseUrlResponse">
<part name="parameters" element="tns:getClusterByClusterBaseUrlResponse"/>
</message>
<message name="getCurrentActiveCUser">
<part name="parameters" element="tns:getCurrentActiveCUser"/>
</message>
<message name="getCurrentActiveCUserResponse">
<part name="parameters" element="tns:getCurrentActiveCUserResponse"/>
</message>
<message name="getCurrentActiveTUser">
<part name="parameters" element="tns:getCurrentActiveTUser"/>
</message>
<message name="getCurrentActiveTUserResponse">
<part name="parameters" element="tns:getCurrentActiveTUserResponse"/>
</message>
<message name="addNewDocument">
<part name="parameters" element="tns:addNewDocument"/>
</message>
<message name="addNewDocumentResponse">
<part name="parameters" element="tns:addNewDocumentResponse"/>
</message>
<message name="addNewDocumentHasItem">
<part name="parameters" element="tns:addNewDocumentHasItem"/>
</message>
<message name="addNewDocumentHasItemResponse">
<part name="parameters" element="tns:addNewDocumentHasItemResponse"/>
</message>
<message name="addNewLink">
<part name="parameters" element="tns:addNewLink"/>
</message>
<message name="addNewLinkResponse">
<part name="parameters" element="tns:addNewLinkResponse"/>
</message>
<message name="addNewUserGroup">
<part name="parameters" element="tns:addNewUserGroup"/>
</message>
<message name="addNewUserGroupResponse">
<part name="parameters" element="tns:addNewUserGroupResponse"/>
</message>
<message name="editUserGroup">
<part name="parameters" element="tns:editUserGroup"/>
</message>
<message name="editUserGroupResponse">
<part name="parameters" element="tns:editUserGroupResponse"/>
</message>
<message name="deleteUserGroup">
<part name="parameters" element="tns:deleteUserGroup"/>
</message>
<message name="deleteUserGroupResponse">
<part name="parameters" element="tns:deleteUserGroupResponse"/>
</message>
<message name="getUserGroupById">
<part name="parameters" element="tns:getUserGroupById"/>
</message>
<message name="getUserGroupByIdResponse">
<part name="parameters" element="tns:getUserGroupByIdResponse"/>
</message>
<message name="getUsersByUserGroupId">
<part name="parameters" element="tns:getUsersByUserGroupId"/>
</message>
<message name="getUsersByUserGroupIdResponse">
<part name="parameters" element="tns:getUsersByUserGroupIdResponse"/>
</message>
<message name="getUserGroupList">
<part name="parameters" element="tns:getUserGroupList"/>
</message>
<message name="getUserGroupListResponse">
<part name="parameters" element="tns:getUserGroupListResponse"/>
</message>
<message name="setRightsToUserGroup">
<part name="parameters" element="tns:setRightsToUserGroup"/>
</message>
<message name="setRightsToUserGroupResponse">
<part name="parameters" element="tns:setRightsToUserGroupResponse"/>
</message>
<message name="setRightIdsToUserGroupId">
<part name="parameters" element="tns:setRightIdsToUserGroupId"/>
</message>
<message name="setRightIdsToUserGroupIdResponse">
<part name="parameters" element="tns:setRightIdsToUserGroupIdResponse"/>
</message>
<message name="removeAllRightsOfUserGroup">
<part name="parameters" element="tns:removeAllRightsOfUserGroup"/>
</message>
<message name="removeAllRightsOfUserGroupResponse">
<part name="parameters" element="tns:removeAllRightsOfUserGroupResponse"/>
</message>
<message name="addRightsToUserGroup">
<part name="parameters" element="tns:addRightsToUserGroup"/>
</message>
<message name="addRightsToUserGroupResponse">
<part name="parameters" element="tns:addRightsToUserGroupResponse"/>
</message>
<message name="removeRightsOfUserGroup">
<part name="parameters" element="tns:removeRightsOfUserGroup"/>
</message>
<message name="removeRightsOfUserGroupResponse">
<part name="parameters" element="tns:removeRightsOfUserGroupResponse"/>
</message>
<message name="getRightsOfUserGroup">
<part name="parameters" element="tns:getRightsOfUserGroup"/>
</message>
<message name="getRightsOfUserGroupResponse">
<part name="parameters" element="tns:getRightsOfUserGroupResponse"/>
</message>
<message name="getRightIdsOfUserGroupId">
<part name="parameters" element="tns:getRightIdsOfUserGroupId"/>
</message>
<message name="getRightIdsOfUserGroupIdResponse">
<part name="parameters" element="tns:getRightIdsOfUserGroupIdResponse"/>
</message>
<message name="setRightsCategoriesToUserGroupId">
<part name="parameters" element="tns:setRightsCategoriesToUserGroupId"/>
</message>
<message name="setRightsCategoriesToUserGroupIdResponse">
<part name="parameters" element="tns:setRightsCategoriesToUserGroupIdResponse"/>
</message>
<message name="inactiveUser">
<part name="parameters" element="tns:inactiveUser"/>
</message>
<message name="inactiveUserResponse">
<part name="parameters" element="tns:inactiveUserResponse"/>
</message>
<message name="inactiveUserByCUserId">
<part name="parameters" element="tns:inactiveUserByCUserId"/>
</message>
<message name="inactiveUserByCUserIdResponse">
<part name="parameters" element="tns:inactiveUserByCUserIdResponse"/>
</message>
<message name="addNewRightsFunction">
<part name="parameters" element="tns:addNewRightsFunction"/>
</message>
<message name="addNewRightsFunctionResponse">
<part name="parameters" element="tns:addNewRightsFunctionResponse"/>
</message>
<message name="editRightsFunction">
<part name="parameters" element="tns:editRightsFunction"/>
</message>
<message name="editRightsFunctionResponse">
<part name="parameters" element="tns:editRightsFunctionResponse"/>
</message>
<message name="deleteRightsFunction">
<part name="parameters" element="tns:deleteRightsFunction"/>
</message>
<message name="deleteRightsFunctionResponse">
<part name="parameters" element="tns:deleteRightsFunctionResponse"/>
</message>
<message name="getRightsFunctionById">
<part name="parameters" element="tns:getRightsFunctionById"/>
</message>
<message name="getRightsFunctionByIdResponse">
<part name="parameters" element="tns:getRightsFunctionByIdResponse"/>
</message>
<message name="getRightsFunctionList">
<part name="parameters" element="tns:getRightsFunctionList"/>
</message>
<message name="getRightsFunctionListResponse">
<part name="parameters" element="tns:getRightsFunctionListResponse"/>
</message>
<message name="addNewAttributeDefinition">
<part name="parameters" element="tns:addNewAttributeDefinition"/>
</message>
<message name="addNewAttributeDefinitionResponse">
<part name="parameters" element="tns:addNewAttributeDefinitionResponse"/>
</message>
<message name="editAttributeDefinition">
<part name="parameters" element="tns:editAttributeDefinition"/>
</message>
<message name="editAttributeDefinitionResponse">
<part name="parameters" element="tns:editAttributeDefinitionResponse"/>
</message>
<message name="deleteAttributeDefinition">
<part name="parameters" element="tns:deleteAttributeDefinition"/>
</message>
<message name="deleteAttributeDefinitionResponse">
<part name="parameters" element="tns:deleteAttributeDefinitionResponse"/>
</message>
<message name="getAttributeDefinitionById">
<part name="parameters" element="tns:getAttributeDefinitionById"/>
</message>
<message name="getAttributeDefinitionByIdResponse">
<part name="parameters" element="tns:getAttributeDefinitionByIdResponse"/>
</message>
<message name="getAttributeDefinitionList">
<part name="parameters" element="tns:getAttributeDefinitionList"/>
</message>
<message name="getAttributeDefinitionListResponse">
<part name="parameters" element="tns:getAttributeDefinitionListResponse"/>
</message>
<message name="addNewCategory">
<part name="parameters" element="tns:addNewCategory"/>
</message>
<message name="addNewCategoryResponse">
<part name="parameters" element="tns:addNewCategoryResponse"/>
</message>
<message name="editCategory">
<part name="parameters" element="tns:editCategory"/>
</message>
<message name="editCategoryResponse">
<part name="parameters" element="tns:editCategoryResponse"/>
</message>
<message name="deleteCategory">
<part name="parameters" element="tns:deleteCategory"/>
</message>
<message name="deleteCategoryResponse">
<part name="parameters" element="tns:deleteCategoryResponse"/>
</message>
<message name="getCategoryById">
<part name="parameters" element="tns:getCategoryById"/>
</message>
<message name="getCategoryByIdResponse">
<part name="parameters" element="tns:getCategoryByIdResponse"/>
</message>
<message name="getChildrenByCategoryParentId">
<part name="parameters" element="tns:getChildrenByCategoryParentId"/>
</message>
<message name="getChildrenByCategoryParentIdResponse">
<part name="parameters" element="tns:getChildrenByCategoryParentIdResponse"/>
</message>
<message name="getCategoryList">
<part name="parameters" element="tns:getCategoryList"/>
</message>
<message name="getCategoryListResponse">
<part name="parameters" element="tns:getCategoryListResponse"/>
</message>
<message name="getCategoriesByUserGroupId">
<part name="parameters" element="tns:getCategoriesByUserGroupId"/>
</message>
<message name="getCategoriesByUserGroupIdResponse">
<part name="parameters" element="tns:getCategoriesByUserGroupIdResponse"/>
</message>
<message name="getCategoryIdsByUserGroupId">
<part name="parameters" element="tns:getCategoryIdsByUserGroupId"/>
</message>
<message name="getCategoryIdsByUserGroupIdResponse">
<part name="parameters" element="tns:getCategoryIdsByUserGroupIdResponse"/>
</message>
<message name="editDocumentHasItem">
<part name="parameters" element="tns:editDocumentHasItem"/>
</message>
<message name="editDocumentHasItemResponse">
<part name="parameters" element="tns:editDocumentHasItemResponse"/>
</message>
<message name="deleteDocumentHasItem">
<part name="parameters" element="tns:deleteDocumentHasItem"/>
</message>
<message name="deleteDocumentHasItemResponse">
<part name="parameters" element="tns:deleteDocumentHasItemResponse"/>
</message>
<message name="getDocumentHasItemById">
<part name="parameters" element="tns:getDocumentHasItemById"/>
</message>
<message name="getDocumentHasItemByIdResponse">
<part name="parameters" element="tns:getDocumentHasItemByIdResponse"/>
</message>
<message name="getDocumentHasItemList">
<part name="parameters" element="tns:getDocumentHasItemList"/>
</message>
<message name="getDocumentHasItemListResponse">
<part name="parameters" element="tns:getDocumentHasItemListResponse"/>
</message>
<message name="addNewDocumentNote">
<part name="parameters" element="tns:addNewDocumentNote"/>
</message>
<message name="addNewDocumentNoteResponse">
<part name="parameters" element="tns:addNewDocumentNoteResponse"/>
</message>
<message name="editDocumentNote">
<part name="parameters" element="tns:editDocumentNote"/>
</message>
<message name="editDocumentNoteResponse">
<part name="parameters" element="tns:editDocumentNoteResponse"/>
</message>
<message name="deleteDocumentNote">
<part name="parameters" element="tns:deleteDocumentNote"/>
</message>
<message name="deleteDocumentNoteResponse">
<part name="parameters" element="tns:deleteDocumentNoteResponse"/>
</message>
<message name="getDocumentNoteById">
<part name="parameters" element="tns:getDocumentNoteById"/>
</message>
<message name="getDocumentNoteByIdResponse">
<part name="parameters" element="tns:getDocumentNoteByIdResponse"/>
</message>
<message name="getDocumentNoteList">
<part name="parameters" element="tns:getDocumentNoteList"/>
</message>
<message name="getDocumentNoteListResponse">
<part name="parameters" element="tns:getDocumentNoteListResponse"/>
</message>
<message name="getDocumentNoteListByDocumentId">
<part name="parameters" element="tns:getDocumentNoteListByDocumentId"/>
</message>
<message name="getDocumentNoteListByDocumentIdResponse">
<part name="parameters" element="tns:getDocumentNoteListByDocumentIdResponse"/>
</message>
<message name="editDocument">
<part name="parameters" element="tns:editDocument"/>
</message>
<message name="editDocumentResponse">
<part name="parameters" element="tns:editDocumentResponse"/>
</message>
<message name="deleteDocument">
<part name="parameters" element="tns:deleteDocument"/>
</message>
<message name="deleteDocumentResponse">
<part name="parameters" element="tns:deleteDocumentResponse"/>
</message>
<message name="getDocumentById">
<part name="parameters" element="tns:getDocumentById"/>
</message>
<message name="getDocumentByIdResponse">
<part name="parameters" element="tns:getDocumentByIdResponse"/>
</message>
<message name="getDocumentList">
<part name="parameters" element="tns:getDocumentList"/>
</message>
<message name="getDocumentListResponse">
<part name="parameters" element="tns:getDocumentListResponse"/>
</message>
<message name="getDocumentListByCategoryId">
<part name="parameters" element="tns:getDocumentListByCategoryId"/>
</message>
<message name="getDocumentListByCategoryIdResponse">
<part name="parameters" element="tns:getDocumentListByCategoryIdResponse"/>
</message>
<message name="editItemVersion">
<part name="parameters" element="tns:editItemVersion"/>
</message>
<message name="editItemVersionResponse">
<part name="parameters" element="tns:editItemVersionResponse"/>
</message>
<message name="deleteItemVersion">
<part name="parameters" element="tns:deleteItemVersion"/>
</message>
<message name="deleteItemVersionResponse">
<part name="parameters" element="tns:deleteItemVersionResponse"/>
</message>
<message name="getItemVersionById">
<part name="parameters" element="tns:getItemVersionById"/>
</message>
<message name="getItemVersionByIdResponse">
<part name="parameters" element="tns:getItemVersionByIdResponse"/>
</message>
<message name="getItemVersionList">
<part name="parameters" element="tns:getItemVersionList"/>
</message>
<message name="getItemVersionListResponse">
<part name="parameters" element="tns:getItemVersionListResponse"/>
</message>
<message name="getItemVersionsByDocumentId">
<part name="parameters" element="tns:getItemVersionsByDocumentId"/>
</message>
<message name="getItemVersionsByDocumentIdResponse">
<part name="parameters" element="tns:getItemVersionsByDocumentIdResponse"/>
</message>
<message name="editItem">
<part name="parameters" element="tns:editItem"/>
</message>
<message name="editItemResponse">
<part name="parameters" element="tns:editItemResponse"/>
</message>
<message name="deleteItem">
<part name="parameters" element="tns:deleteItem"/>
</message>
<message name="deleteItemResponse">
<part name="parameters" element="tns:deleteItemResponse"/>
</message>
<message name="getItemById">
<part name="parameters" element="tns:getItemById"/>
</message>
<message name="getItemByIdResponse">
<part name="parameters" element="tns:getItemByIdResponse"/>
</message>
<message name="getItemList">
<part name="parameters" element="tns:getItemList"/>
</message>
<message name="getItemListResponse">
<part name="parameters" element="tns:getItemListResponse"/>
</message>
<message name="addNewLinkAttribute">
<part name="parameters" element="tns:addNewLinkAttribute"/>
</message>
<message name="addNewLinkAttributeResponse">
<part name="parameters" element="tns:addNewLinkAttributeResponse"/>
</message>
<message name="editLinkAttribute">
<part name="parameters" element="tns:editLinkAttribute"/>
</message>
<message name="editLinkAttributeResponse">
<part name="parameters" element="tns:editLinkAttributeResponse"/>
</message>
<message name="deleteLinkAttribute">
<part name="parameters" element="tns:deleteLinkAttribute"/>
</message>
<message name="deleteLinkAttributeResponse">
<part name="parameters" element="tns:deleteLinkAttributeResponse"/>
</message>
<message name="getLinkAttributeById">
<part name="parameters" element="tns:getLinkAttributeById"/>
</message>
<message name="getLinkAttributeByIdResponse">
<part name="parameters" element="tns:getLinkAttributeByIdResponse"/>
</message>
<message name="getLinkAttributeList">
<part name="parameters" element="tns:getLinkAttributeList"/>
</message>
<message name="getLinkAttributeListResponse">
<part name="parameters" element="tns:getLinkAttributeListResponse"/>
</message>
<message name="editLink">
<part name="parameters" element="tns:editLink"/>
</message>
<message name="editLinkResponse">
<part name="parameters" element="tns:editLinkResponse"/>
</message>
<message name="deleteLink">
<part name="parameters" element="tns:deleteLink"/>
</message>
<message name="deleteLinkResponse">
<part name="parameters" element="tns:deleteLinkResponse"/>
</message>
<message name="getLinkById">
<part name="parameters" element="tns:getLinkById"/>
</message>
<message name="getLinkByIdResponse">
<part name="parameters" element="tns:getLinkByIdResponse"/>
</message>
<message name="getLinkList">
<part name="parameters" element="tns:getLinkList"/>
</message>
<message name="getLinkListResponse">
<part name="parameters" element="tns:getLinkListResponse"/>
</message>
<message name="getLinkListByCategoryId">
<part name="parameters" element="tns:getLinkListByCategoryId"/>
</message>
<message name="getLinkListByCategoryIdResponse">
<part name="parameters" element="tns:getLinkListByCategoryIdResponse"/>
</message>
<message name="getLinkListByDocumentId">
<part name="parameters" element="tns:getLinkListByDocumentId"/>
</message>
<message name="getLinkListByDocumentIdResponse">
<part name="parameters" element="tns:getLinkListByDocumentIdResponse"/>
</message>
<message name="addNewRightsCategory">
<part name="parameters" element="tns:addNewRightsCategory"/>
</message>
<message name="addNewRightsCategoryResponse">
<part name="parameters" element="tns:addNewRightsCategoryResponse"/>
</message>
<message name="editRightsCategory">
<part name="parameters" element="tns:editRightsCategory"/>
</message>
<message name="editRightsCategoryResponse">
<part name="parameters" element="tns:editRightsCategoryResponse"/>
</message>
<message name="deleteRightsCategory">
<part name="parameters" element="tns:deleteRightsCategory"/>
</message>
<message name="deleteRightsCategoryResponse">
<part name="parameters" element="tns:deleteRightsCategoryResponse"/>
</message>
<message name="getRightsCategoryById">
<part name="parameters" element="tns:getRightsCategoryById"/>
</message>
<message name="getRightsCategoryByIdResponse">
<part name="parameters" element="tns:getRightsCategoryByIdResponse"/>
</message>
<message name="getRightsCategoryList">
<part name="parameters" element="tns:getRightsCategoryList"/>
</message>
<message name="getRightsCategoryListResponse">
<part name="parameters" element="tns:getRightsCategoryListResponse"/>
</message>
<message name="editCluster">
<part name="parameters" element="tns:editCluster"/>
</message>
<message name="editClusterResponse">
<part name="parameters" element="tns:editClusterResponse"/>
</message>
<message name="deleteCluster">
<part name="parameters" element="tns:deleteCluster"/>
</message>
<message name="deleteClusterResponse">
<part name="parameters" element="tns:deleteClusterResponse"/>
</message>
<message name="getClusterById">
<part name="parameters" element="tns:getClusterById"/>
</message>
<message name="getClusterByIdResponse">
<part name="parameters" element="tns:getClusterByIdResponse"/>
</message>
<message name="getClusterList">
<part name="parameters" element="tns:getClusterList"/>
</message>
<message name="getClusterListResponse">
<part name="parameters" element="tns:getClusterListResponse"/>
</message>
<message name="addNewCUser">
<part name="parameters" element="tns:addNewCUser"/>
</message>
<message name="addNewCUserResponse">
<part name="parameters" element="tns:addNewCUserResponse"/>
</message>
<message name="editCUser">
<part name="parameters" element="tns:editCUser"/>
</message>
<message name="editCUserResponse">
<part name="parameters" element="tns:editCUserResponse"/>
</message>
<message name="deleteCUser">
<part name="parameters" element="tns:deleteCUser"/>
</message>
<message name="deleteCUserResponse">
<part name="parameters" element="tns:deleteCUserResponse"/>
</message>
<message name="getCUserById">
<part name="parameters" element="tns:getCUserById"/>
</message>
<message name="getCUserByIdResponse">
<part name="parameters" element="tns:getCUserByIdResponse"/>
</message>
<message name="getActiveCUserById">
<part name="parameters" element="tns:getActiveCUserById"/>
</message>
<message name="getActiveCUserByIdResponse">
<part name="parameters" element="tns:getActiveCUserByIdResponse"/>
</message>
<message name="getActiveCUserList">
<part name="parameters" element="tns:getActiveCUserList"/>
</message>
<message name="getActiveCUserListResponse">
<part name="parameters" element="tns:getActiveCUserListResponse"/>
</message>
<message name="getCUserList">
<part name="parameters" element="tns:getCUserList"/>
</message>
<message name="getCUserListResponse">
<part name="parameters" element="tns:getCUserListResponse"/>
</message>
<portType name="TankWS">
<operation name="login">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="logout">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/logoutRequest" message="tns:logout"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/logoutResponse" message="tns:logoutResponse"/>
</operation>
<operation name="addNewUser">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewUserRequest" message="tns:addNewUser"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewUserResponse" message="tns:addNewUserResponse"/>
</operation>
<operation name="editUser">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editUserRequest" message="tns:editUser"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editUserResponse" message="tns:editUserResponse"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteUserRequest" message="tns:deleteUser"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteUserResponse" message="tns:deleteUserResponse"/>
</operation>
<operation name="getUserById">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getUserByIdRequest" message="tns:getUserById"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getUserByIdResponse" message="tns:getUserByIdResponse"/>
</operation>
<operation name="getActiveUserById">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getActiveUserByIdRequest" message="tns:getActiveUserById"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getActiveUserByIdResponse" message="tns:getActiveUserByIdResponse"/>
</operation>
<operation name="getActiveUserList">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getActiveUserListRequest" message="tns:getActiveUserList"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getActiveUserListResponse" message="tns:getActiveUserListResponse"/>
</operation>
<operation name="getUserList">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getUserListRequest" message="tns:getUserList"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getUserListResponse" message="tns:getUserListResponse"/>
</operation>
<operation name="addNewTankUser">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewTankUserRequest" message="tns:addNewTankUser"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewTankUserResponse" message="tns:addNewTankUserResponse"/>
</operation>
<operation name="editTankUser">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editTankUserRequest" message="tns:editTankUser"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editTankUserResponse" message="tns:editTankUserResponse"/>
</operation>
<operation name="deleteTankUser">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteTankUserRequest" message="tns:deleteTankUser"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteTankUserResponse" message="tns:deleteTankUserResponse"/>
</operation>
<operation name="getTankUserById">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getTankUserByIdRequest" message="tns:getTankUserById"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getTankUserByIdResponse" message="tns:getTankUserByIdResponse"/>
</operation>
<operation name="getTankUserList">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getTankUserListRequest" message="tns:getTankUserList"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getTankUserListResponse" message="tns:getTankUserListResponse"/>
</operation>
<operation name="getTankUserByUserIdAndTankId">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getTankUserByUserIdAndTankIdRequest" message="tns:getTankUserByUserIdAndTankId"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getTankUserByUserIdAndTankIdResponse" message="tns:getTankUserByUserIdAndTankIdResponse"/>
</operation>
<operation name="unlinkTankUserByUserIdAndTankId">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/unlinkTankUserByUserIdAndTankIdRequest" message="tns:unlinkTankUserByUserIdAndTankId"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/unlinkTankUserByUserIdAndTankIdResponse" message="tns:unlinkTankUserByUserIdAndTankIdResponse"/>
</operation>
<operation name="getTankUsersByLoggedUser">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getTankUsersByLoggedUserRequest" message="tns:getTankUsersByLoggedUser"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getTankUsersByLoggedUserResponse" message="tns:getTankUsersByLoggedUserResponse"/>
</operation>
<operation name="getAcceptTankUsersByLoggedUser">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getAcceptTankUsersByLoggedUserRequest" message="tns:getAcceptTankUsersByLoggedUser"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getAcceptTankUsersByLoggedUserResponse" message="tns:getAcceptTankUsersByLoggedUserResponse"/>
</operation>
<operation name="getNotAcceptTankUsersByLoggedUser">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getNotAcceptTankUsersByLoggedUserRequest" message="tns:getNotAcceptTankUsersByLoggedUser"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getNotAcceptTankUsersByLoggedUserResponse" message="tns:getNotAcceptTankUsersByLoggedUserResponse"/>
</operation>
<operation name="addNewTank">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewTankRequest" message="tns:addNewTank"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewTankResponse" message="tns:addNewTankResponse"/>
</operation>
<operation name="editTank">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editTankRequest" message="tns:editTank"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editTankResponse" message="tns:editTankResponse"/>
</operation>
<operation name="deleteTank">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteTankRequest" message="tns:deleteTank"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteTankResponse" message="tns:deleteTankResponse"/>
</operation>
<operation name="getTankById">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getTankByIdRequest" message="tns:getTankById"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getTankByIdResponse" message="tns:getTankByIdResponse"/>
</operation>
<operation name="getTankList">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getTankListRequest" message="tns:getTankList"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getTankListResponse" message="tns:getTankListResponse"/>
</operation>
<operation name="getTankByTankName">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getTankByTankNameRequest" message="tns:getTankByTankName"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getTankByTankNameResponse" message="tns:getTankByTankNameResponse"/>
</operation>
<operation name="getTankByTankBaseUrl">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getTankByTankBaseUrlRequest" message="tns:getTankByTankBaseUrl"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getTankByTankBaseUrlResponse" message="tns:getTankByTankBaseUrlResponse"/>
</operation>
<operation name="getTanksByLoggedUser">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getTanksByLoggedUserRequest" message="tns:getTanksByLoggedUser"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getTanksByLoggedUserResponse" message="tns:getTanksByLoggedUserResponse"/>
</operation>
<operation name="getAcceptTanksByLoggedUser">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getAcceptTanksByLoggedUserRequest" message="tns:getAcceptTanksByLoggedUser"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getAcceptTanksByLoggedUserResponse" message="tns:getAcceptTanksByLoggedUserResponse"/>
</operation>
<operation name="addNewItem">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewItemRequest" message="tns:addNewItem"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewItemResponse" message="tns:addNewItemResponse"/>
</operation>
<operation name="addNewItemVersion">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewItemVersionRequest" message="tns:addNewItemVersion"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewItemVersionResponse" message="tns:addNewItemVersionResponse"/>
</operation>
<operation name="addNewCluster">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewClusterRequest" message="tns:addNewCluster"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewClusterResponse" message="tns:addNewClusterResponse"/>
</operation>
<operation name="getClusterByClusterName">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getClusterByClusterNameRequest" message="tns:getClusterByClusterName"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getClusterByClusterNameResponse" message="tns:getClusterByClusterNameResponse"/>
</operation>
<operation name="getClusterByClusterBaseUrl">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getClusterByClusterBaseUrlRequest" message="tns:getClusterByClusterBaseUrl"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getClusterByClusterBaseUrlResponse" message="tns:getClusterByClusterBaseUrlResponse"/>
</operation>
<operation name="getCurrentActiveCUser">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getCurrentActiveCUserRequest" message="tns:getCurrentActiveCUser"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getCurrentActiveCUserResponse" message="tns:getCurrentActiveCUserResponse"/>
</operation>
<operation name="getCurrentActiveTUser">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getCurrentActiveTUserRequest" message="tns:getCurrentActiveTUser"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getCurrentActiveTUserResponse" message="tns:getCurrentActiveTUserResponse"/>
</operation>
<operation name="addNewDocument">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewDocumentRequest" message="tns:addNewDocument"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewDocumentResponse" message="tns:addNewDocumentResponse"/>
</operation>
<operation name="addNewDocumentHasItem">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewDocumentHasItemRequest" message="tns:addNewDocumentHasItem"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewDocumentHasItemResponse" message="tns:addNewDocumentHasItemResponse"/>
</operation>
<operation name="addNewLink">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewLinkRequest" message="tns:addNewLink"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewLinkResponse" message="tns:addNewLinkResponse"/>
</operation>
<operation name="addNewUserGroup">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewUserGroupRequest" message="tns:addNewUserGroup"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewUserGroupResponse" message="tns:addNewUserGroupResponse"/>
</operation>
<operation name="editUserGroup">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editUserGroupRequest" message="tns:editUserGroup"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editUserGroupResponse" message="tns:editUserGroupResponse"/>
</operation>
<operation name="deleteUserGroup">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteUserGroupRequest" message="tns:deleteUserGroup"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteUserGroupResponse" message="tns:deleteUserGroupResponse"/>
</operation>
<operation name="getUserGroupById">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getUserGroupByIdRequest" message="tns:getUserGroupById"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getUserGroupByIdResponse" message="tns:getUserGroupByIdResponse"/>
</operation>
<operation name="getUsersByUserGroupId">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getUsersByUserGroupIdRequest" message="tns:getUsersByUserGroupId"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getUsersByUserGroupIdResponse" message="tns:getUsersByUserGroupIdResponse"/>
</operation>
<operation name="getUserGroupList">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getUserGroupListRequest" message="tns:getUserGroupList"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getUserGroupListResponse" message="tns:getUserGroupListResponse"/>
</operation>
<operation name="setRightsToUserGroup">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/setRightsToUserGroupRequest" message="tns:setRightsToUserGroup"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/setRightsToUserGroupResponse" message="tns:setRightsToUserGroupResponse"/>
</operation>
<operation name="setRightIdsToUserGroupId">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/setRightIdsToUserGroupIdRequest" message="tns:setRightIdsToUserGroupId"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/setRightIdsToUserGroupIdResponse" message="tns:setRightIdsToUserGroupIdResponse"/>
</operation>
<operation name="removeAllRightsOfUserGroup">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/removeAllRightsOfUserGroupRequest" message="tns:removeAllRightsOfUserGroup"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/removeAllRightsOfUserGroupResponse" message="tns:removeAllRightsOfUserGroupResponse"/>
</operation>
<operation name="addRightsToUserGroup">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addRightsToUserGroupRequest" message="tns:addRightsToUserGroup"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addRightsToUserGroupResponse" message="tns:addRightsToUserGroupResponse"/>
</operation>
<operation name="removeRightsOfUserGroup">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/removeRightsOfUserGroupRequest" message="tns:removeRightsOfUserGroup"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/removeRightsOfUserGroupResponse" message="tns:removeRightsOfUserGroupResponse"/>
</operation>
<operation name="getRightsOfUserGroup">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getRightsOfUserGroupRequest" message="tns:getRightsOfUserGroup"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getRightsOfUserGroupResponse" message="tns:getRightsOfUserGroupResponse"/>
</operation>
<operation name="getRightIdsOfUserGroupId">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getRightIdsOfUserGroupIdRequest" message="tns:getRightIdsOfUserGroupId"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getRightIdsOfUserGroupIdResponse" message="tns:getRightIdsOfUserGroupIdResponse"/>
</operation>
<operation name="setRightsCategoriesToUserGroupId">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/setRightsCategoriesToUserGroupIdRequest" message="tns:setRightsCategoriesToUserGroupId"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/setRightsCategoriesToUserGroupIdResponse" message="tns:setRightsCategoriesToUserGroupIdResponse"/>
</operation>
<operation name="inactiveUser">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/inactiveUserRequest" message="tns:inactiveUser"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/inactiveUserResponse" message="tns:inactiveUserResponse"/>
</operation>
<operation name="inactiveUserByCUserId">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/inactiveUserByCUserIdRequest" message="tns:inactiveUserByCUserId"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/inactiveUserByCUserIdResponse" message="tns:inactiveUserByCUserIdResponse"/>
</operation>
<operation name="addNewRightsFunction">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewRightsFunctionRequest" message="tns:addNewRightsFunction"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewRightsFunctionResponse" message="tns:addNewRightsFunctionResponse"/>
</operation>
<operation name="editRightsFunction">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editRightsFunctionRequest" message="tns:editRightsFunction"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editRightsFunctionResponse" message="tns:editRightsFunctionResponse"/>
</operation>
<operation name="deleteRightsFunction">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteRightsFunctionRequest" message="tns:deleteRightsFunction"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteRightsFunctionResponse" message="tns:deleteRightsFunctionResponse"/>
</operation>
<operation name="getRightsFunctionById">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getRightsFunctionByIdRequest" message="tns:getRightsFunctionById"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getRightsFunctionByIdResponse" message="tns:getRightsFunctionByIdResponse"/>
</operation>
<operation name="getRightsFunctionList">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getRightsFunctionListRequest" message="tns:getRightsFunctionList"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getRightsFunctionListResponse" message="tns:getRightsFunctionListResponse"/>
</operation>
<operation name="addNewAttributeDefinition">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewAttributeDefinitionRequest" message="tns:addNewAttributeDefinition"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewAttributeDefinitionResponse" message="tns:addNewAttributeDefinitionResponse"/>
</operation>
<operation name="editAttributeDefinition">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editAttributeDefinitionRequest" message="tns:editAttributeDefinition"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editAttributeDefinitionResponse" message="tns:editAttributeDefinitionResponse"/>
</operation>
<operation name="deleteAttributeDefinition">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteAttributeDefinitionRequest" message="tns:deleteAttributeDefinition"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteAttributeDefinitionResponse" message="tns:deleteAttributeDefinitionResponse"/>
</operation>
<operation name="getAttributeDefinitionById">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getAttributeDefinitionByIdRequest" message="tns:getAttributeDefinitionById"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getAttributeDefinitionByIdResponse" message="tns:getAttributeDefinitionByIdResponse"/>
</operation>
<operation name="getAttributeDefinitionList">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getAttributeDefinitionListRequest" message="tns:getAttributeDefinitionList"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getAttributeDefinitionListResponse" message="tns:getAttributeDefinitionListResponse"/>
</operation>
<operation name="addNewCategory">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewCategoryRequest" message="tns:addNewCategory"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewCategoryResponse" message="tns:addNewCategoryResponse"/>
</operation>
<operation name="editCategory">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editCategoryRequest" message="tns:editCategory"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editCategoryResponse" message="tns:editCategoryResponse"/>
</operation>
<operation name="deleteCategory">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteCategoryRequest" message="tns:deleteCategory"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteCategoryResponse" message="tns:deleteCategoryResponse"/>
</operation>
<operation name="getCategoryById">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getCategoryByIdRequest" message="tns:getCategoryById"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getCategoryByIdResponse" message="tns:getCategoryByIdResponse"/>
</operation>
<operation name="getChildrenByCategoryParentId">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getChildrenByCategoryParentIdRequest" message="tns:getChildrenByCategoryParentId"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getChildrenByCategoryParentIdResponse" message="tns:getChildrenByCategoryParentIdResponse"/>
</operation>
<operation name="getCategoryList">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getCategoryListRequest" message="tns:getCategoryList"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getCategoryListResponse" message="tns:getCategoryListResponse"/>
</operation>
<operation name="getCategoriesByUserGroupId">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getCategoriesByUserGroupIdRequest" message="tns:getCategoriesByUserGroupId"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getCategoriesByUserGroupIdResponse" message="tns:getCategoriesByUserGroupIdResponse"/>
</operation>
<operation name="getCategoryIdsByUserGroupId">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getCategoryIdsByUserGroupIdRequest" message="tns:getCategoryIdsByUserGroupId"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getCategoryIdsByUserGroupIdResponse" message="tns:getCategoryIdsByUserGroupIdResponse"/>
</operation>
<operation name="editDocumentHasItem">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editDocumentHasItemRequest" message="tns:editDocumentHasItem"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editDocumentHasItemResponse" message="tns:editDocumentHasItemResponse"/>
</operation>
<operation name="deleteDocumentHasItem">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteDocumentHasItemRequest" message="tns:deleteDocumentHasItem"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteDocumentHasItemResponse" message="tns:deleteDocumentHasItemResponse"/>
</operation>
<operation name="getDocumentHasItemById">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getDocumentHasItemByIdRequest" message="tns:getDocumentHasItemById"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getDocumentHasItemByIdResponse" message="tns:getDocumentHasItemByIdResponse"/>
</operation>
<operation name="getDocumentHasItemList">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getDocumentHasItemListRequest" message="tns:getDocumentHasItemList"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getDocumentHasItemListResponse" message="tns:getDocumentHasItemListResponse"/>
</operation>
<operation name="addNewDocumentNote">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewDocumentNoteRequest" message="tns:addNewDocumentNote"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewDocumentNoteResponse" message="tns:addNewDocumentNoteResponse"/>
</operation>
<operation name="editDocumentNote">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editDocumentNoteRequest" message="tns:editDocumentNote"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editDocumentNoteResponse" message="tns:editDocumentNoteResponse"/>
</operation>
<operation name="deleteDocumentNote">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteDocumentNoteRequest" message="tns:deleteDocumentNote"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteDocumentNoteResponse" message="tns:deleteDocumentNoteResponse"/>
</operation>
<operation name="getDocumentNoteById">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getDocumentNoteByIdRequest" message="tns:getDocumentNoteById"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getDocumentNoteByIdResponse" message="tns:getDocumentNoteByIdResponse"/>
</operation>
<operation name="getDocumentNoteList">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getDocumentNoteListRequest" message="tns:getDocumentNoteList"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getDocumentNoteListResponse" message="tns:getDocumentNoteListResponse"/>
</operation>
<operation name="getDocumentNoteListByDocumentId">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getDocumentNoteListByDocumentIdRequest" message="tns:getDocumentNoteListByDocumentId"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getDocumentNoteListByDocumentIdResponse" message="tns:getDocumentNoteListByDocumentIdResponse"/>
</operation>
<operation name="editDocument">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editDocumentRequest" message="tns:editDocument"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editDocumentResponse" message="tns:editDocumentResponse"/>
</operation>
<operation name="deleteDocument">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteDocumentRequest" message="tns:deleteDocument"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteDocumentResponse" message="tns:deleteDocumentResponse"/>
</operation>
<operation name="getDocumentById">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getDocumentByIdRequest" message="tns:getDocumentById"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getDocumentByIdResponse" message="tns:getDocumentByIdResponse"/>
</operation>
<operation name="getDocumentList">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getDocumentListRequest" message="tns:getDocumentList"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getDocumentListResponse" message="tns:getDocumentListResponse"/>
</operation>
<operation name="getDocumentListByCategoryId">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getDocumentListByCategoryIdRequest" message="tns:getDocumentListByCategoryId"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getDocumentListByCategoryIdResponse" message="tns:getDocumentListByCategoryIdResponse"/>
</operation>
<operation name="editItemVersion">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editItemVersionRequest" message="tns:editItemVersion"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editItemVersionResponse" message="tns:editItemVersionResponse"/>
</operation>
<operation name="deleteItemVersion">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteItemVersionRequest" message="tns:deleteItemVersion"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteItemVersionResponse" message="tns:deleteItemVersionResponse"/>
</operation>
<operation name="getItemVersionById">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getItemVersionByIdRequest" message="tns:getItemVersionById"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getItemVersionByIdResponse" message="tns:getItemVersionByIdResponse"/>
</operation>
<operation name="getItemVersionList">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getItemVersionListRequest" message="tns:getItemVersionList"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getItemVersionListResponse" message="tns:getItemVersionListResponse"/>
</operation>
<operation name="getItemVersionsByDocumentId">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getItemVersionsByDocumentIdRequest" message="tns:getItemVersionsByDocumentId"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getItemVersionsByDocumentIdResponse" message="tns:getItemVersionsByDocumentIdResponse"/>
</operation>
<operation name="editItem">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editItemRequest" message="tns:editItem"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editItemResponse" message="tns:editItemResponse"/>
</operation>
<operation name="deleteItem">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteItemRequest" message="tns:deleteItem"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteItemResponse" message="tns:deleteItemResponse"/>
</operation>
<operation name="getItemById">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getItemByIdRequest" message="tns:getItemById"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getItemByIdResponse" message="tns:getItemByIdResponse"/>
</operation>
<operation name="getItemList">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getItemListRequest" message="tns:getItemList"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getItemListResponse" message="tns:getItemListResponse"/>
</operation>
<operation name="addNewLinkAttribute">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewLinkAttributeRequest" message="tns:addNewLinkAttribute"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewLinkAttributeResponse" message="tns:addNewLinkAttributeResponse"/>
</operation>
<operation name="editLinkAttribute">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editLinkAttributeRequest" message="tns:editLinkAttribute"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editLinkAttributeResponse" message="tns:editLinkAttributeResponse"/>
</operation>
<operation name="deleteLinkAttribute">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteLinkAttributeRequest" message="tns:deleteLinkAttribute"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteLinkAttributeResponse" message="tns:deleteLinkAttributeResponse"/>
</operation>
<operation name="getLinkAttributeById">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getLinkAttributeByIdRequest" message="tns:getLinkAttributeById"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getLinkAttributeByIdResponse" message="tns:getLinkAttributeByIdResponse"/>
</operation>
<operation name="getLinkAttributeList">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getLinkAttributeListRequest" message="tns:getLinkAttributeList"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getLinkAttributeListResponse" message="tns:getLinkAttributeListResponse"/>
</operation>
<operation name="editLink">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editLinkRequest" message="tns:editLink"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editLinkResponse" message="tns:editLinkResponse"/>
</operation>
<operation name="deleteLink">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteLinkRequest" message="tns:deleteLink"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteLinkResponse" message="tns:deleteLinkResponse"/>
</operation>
<operation name="getLinkById">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getLinkByIdRequest" message="tns:getLinkById"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getLinkByIdResponse" message="tns:getLinkByIdResponse"/>
</operation>
<operation name="getLinkList">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getLinkListRequest" message="tns:getLinkList"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getLinkListResponse" message="tns:getLinkListResponse"/>
</operation>
<operation name="getLinkListByCategoryId">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getLinkListByCategoryIdRequest" message="tns:getLinkListByCategoryId"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getLinkListByCategoryIdResponse" message="tns:getLinkListByCategoryIdResponse"/>
</operation>
<operation name="getLinkListByDocumentId">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getLinkListByDocumentIdRequest" message="tns:getLinkListByDocumentId"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getLinkListByDocumentIdResponse" message="tns:getLinkListByDocumentIdResponse"/>
</operation>
<operation name="addNewRightsCategory">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewRightsCategoryRequest" message="tns:addNewRightsCategory"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewRightsCategoryResponse" message="tns:addNewRightsCategoryResponse"/>
</operation>
<operation name="editRightsCategory">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editRightsCategoryRequest" message="tns:editRightsCategory"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editRightsCategoryResponse" message="tns:editRightsCategoryResponse"/>
</operation>
<operation name="deleteRightsCategory">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteRightsCategoryRequest" message="tns:deleteRightsCategory"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteRightsCategoryResponse" message="tns:deleteRightsCategoryResponse"/>
</operation>
<operation name="getRightsCategoryById">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getRightsCategoryByIdRequest" message="tns:getRightsCategoryById"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getRightsCategoryByIdResponse" message="tns:getRightsCategoryByIdResponse"/>
</operation>
<operation name="getRightsCategoryList">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getRightsCategoryListRequest" message="tns:getRightsCategoryList"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getRightsCategoryListResponse" message="tns:getRightsCategoryListResponse"/>
</operation>
<operation name="editCluster">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editClusterRequest" message="tns:editCluster"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editClusterResponse" message="tns:editClusterResponse"/>
</operation>
<operation name="deleteCluster">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteClusterRequest" message="tns:deleteCluster"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteClusterResponse" message="tns:deleteClusterResponse"/>
</operation>
<operation name="getClusterById">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getClusterByIdRequest" message="tns:getClusterById"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getClusterByIdResponse" message="tns:getClusterByIdResponse"/>
</operation>
<operation name="getClusterList">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getClusterListRequest" message="tns:getClusterList"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getClusterListResponse" message="tns:getClusterListResponse"/>
</operation>
<operation name="addNewCUser">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewCUserRequest" message="tns:addNewCUser"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/addNewCUserResponse" message="tns:addNewCUserResponse"/>
</operation>
<operation name="editCUser">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editCUserRequest" message="tns:editCUser"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/editCUserResponse" message="tns:editCUserResponse"/>
</operation>
<operation name="deleteCUser">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteCUserRequest" message="tns:deleteCUser"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/deleteCUserResponse" message="tns:deleteCUserResponse"/>
</operation>
<operation name="getCUserById">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getCUserByIdRequest" message="tns:getCUserById"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getCUserByIdResponse" message="tns:getCUserByIdResponse"/>
</operation>
<operation name="getActiveCUserById">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getActiveCUserByIdRequest" message="tns:getActiveCUserById"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getActiveCUserByIdResponse" message="tns:getActiveCUserByIdResponse"/>
</operation>
<operation name="getActiveCUserList">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getActiveCUserListRequest" message="tns:getActiveCUserList"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getActiveCUserListResponse" message="tns:getActiveCUserListResponse"/>
</operation>
<operation name="getCUserList">
<input wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getCUserListRequest" message="tns:getCUserList"/>
<output wsam:Action="http://ws.webservice.tank.docutank.org/TankWS/getCUserListResponse" message="tns:getCUserListResponse"/>
</operation>
</portType>
<binding name="TankWSPortBinding" type="tns:TankWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getActiveUserById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getActiveUserList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewTankUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editTankUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteTankUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTankUserById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTankUserList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTankUserByUserIdAndTankId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="unlinkTankUserByUserIdAndTankId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTankUsersByLoggedUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAcceptTankUsersByLoggedUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNotAcceptTankUsersByLoggedUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewTank">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editTank">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteTank">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTankById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTankList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTankByTankName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTankByTankBaseUrl">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTanksByLoggedUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAcceptTanksByLoggedUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewItemVersion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewCluster">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getClusterByClusterName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getClusterByClusterBaseUrl">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCurrentActiveCUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCurrentActiveTUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewDocument">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewDocumentHasItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewLink">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewUserGroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editUserGroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUserGroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserGroupById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsersByUserGroupId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserGroupList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setRightsToUserGroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setRightIdsToUserGroupId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeAllRightsOfUserGroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addRightsToUserGroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeRightsOfUserGroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRightsOfUserGroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRightIdsOfUserGroupId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setRightsCategoriesToUserGroupId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inactiveUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inactiveUserByCUserId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewRightsFunction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editRightsFunction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteRightsFunction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRightsFunctionById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRightsFunctionList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewAttributeDefinition">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editAttributeDefinition">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteAttributeDefinition">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAttributeDefinitionById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAttributeDefinitionList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCategoryById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getChildrenByCategoryParentId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCategoryList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCategoriesByUserGroupId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCategoryIdsByUserGroupId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editDocumentHasItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteDocumentHasItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDocumentHasItemById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDocumentHasItemList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewDocumentNote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editDocumentNote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteDocumentNote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDocumentNoteById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDocumentNoteList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDocumentNoteListByDocumentId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editDocument">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteDocument">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDocumentById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDocumentList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDocumentListByCategoryId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editItemVersion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteItemVersion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getItemVersionById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getItemVersionList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getItemVersionsByDocumentId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getItemById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getItemList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewLinkAttribute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editLinkAttribute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteLinkAttribute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLinkAttributeById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLinkAttributeList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editLink">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteLink">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLinkById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLinkList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLinkListByCategoryId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLinkListByDocumentId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewRightsCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editRightsCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteRightsCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRightsCategoryById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRightsCategoryList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editCluster">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCluster">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getClusterById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getClusterList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewCUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editCUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCUserById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getActiveCUserById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getActiveCUserList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCUserList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TankWS">
<port name="TankWSPort" binding="tns:TankWSPortBinding">
<soap:address location="http://78.47.79.221:8080/DocutankTank/TankWS"/>
</port>
</service>
</definitions>