trunk/testCustomTag/web/WEB-INF/wsdl/78.47.79.221_8080/DocutankCentral/Central4ClientWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.webservice.central.docutank.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.webservice.central.docutank.org/">

<xs:element name="addNewUser" type="tns:addNewUser"/>

<xs:element name="addNewUserResponse" type="tns:addNewUserResponse"/>

<xs:element name="changeInviteStatus4TankUser" type="tns:changeInviteStatus4TankUser"/>

<xs:element name="changeInviteStatus4TankUserResponse" type="tns:changeInviteStatus4TankUserResponse"/>

<xs:element name="getAcceptTanksByLoggedUser" type="tns:getAcceptTanksByLoggedUser"/>

<xs:element name="getAcceptTanksByLoggedUserResponse" type="tns:getAcceptTanksByLoggedUserResponse"/>

<xs:element name="getNotAcceptTankUsersByLoggedUser" type="tns:getNotAcceptTankUsersByLoggedUser"/>

<xs:element name="getNotAcceptTankUsersByLoggedUserResponse" type="tns:getNotAcceptTankUsersByLoggedUserResponse"/>

<xs:element name="loginCentral" type="tns:loginCentral"/>

<xs:element name="loginCentralResponse" type="tns:loginCentralResponse"/>

<xs:element name="loginTank" type="tns:loginTank"/>

<xs:element name="loginTankResponse" type="tns:loginTankResponse"/>

<xs:complexType name="getNotAcceptTankUsersByLoggedUser">
<xs:sequence>
<xs:element name="sessionCodeCentral" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNotAcceptTankUsersByLoggedUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:tankUser" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tankUser">
<xs:complexContent>
<xs:extension base="tns:baseEntity">
<xs:sequence>
<xs:element name="invitationFrom" type="tns:cUser" minOccurs="0"/>
<xs:element name="inviteStatus" type="tns:inviteStatus" minOccurs="0"/>
<xs:element name="inviteTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="tank" type="tns:tank" minOccurs="0"/>
<xs:element name="user" type="tns:cUser" minOccurs="0"/>
<xs:element name="userSecurityCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="baseEntity">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cUser">
<xs:complexContent>
<xs:extension base="tns:baseEntity">
<xs:sequence>
<xs:element name="active" type="xs:boolean" minOccurs="0"/>
<xs:element name="createdDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="invitationFroms" type="tns:tankUser" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="userDisplayName" type="xs:string" minOccurs="0"/>
<xs:element name="userFirstName" type="xs:string" minOccurs="0"/>
<xs:element name="userLastName" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="tankUsers">
<xs:simpleType>
<xs:list itemType="xs:int"/>
</xs:simpleType>
</xs:attribute>
<xs:attribute name="userLogs">
<xs:simpleType>
<xs:list itemType="xs:int"/>
</xs:simpleType>
</xs:attribute>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="tank">
<xs:complexContent>
<xs:extension base="tns:baseEntity">
<xs:sequence>
<xs:element name="tankBaseUrl" type="xs:string" minOccurs="0"/>
<xs:element name="tankDescription" type="xs:string" minOccurs="0"/>
<xs:element name="tankName" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="tankUsers">
<xs:simpleType>
<xs:list itemType="xs:int"/>
</xs:simpleType>
</xs:attribute>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="loginTank">
<xs:sequence>
<xs:element name="sessionCodeCentral" type="xs:string" minOccurs="0"/>
<xs:element name="tankId" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginTankResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changeInviteStatus4TankUser">
<xs:sequence>
<xs:element name="sessionCodeCentral" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="inviteStatus" type="tns:inviteStatus" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changeInviteStatus4TankUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:tankUser" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginCentral">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginCentralResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAcceptTanksByLoggedUser">
<xs:sequence>
<xs:element name="sessionCodeCentral" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAcceptTanksByLoggedUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:tank" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNewUser">
<xs:sequence>
<xs:element name="sessionCodeCentral" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="userFirstName" type="xs:string" minOccurs="0"/>
<xs:element name="userLastName" type="xs:string" minOccurs="0"/>
<xs:element name="userDisplayName" type="xs:string" minOccurs="0"/>
<xs:element name="active" type="xs:boolean" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNewUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:cUser" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="inviteStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="ACCEPT"/>
<xs:enumeration value="PENDING"/>
<xs:enumeration value="IGNORE"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>