testCustomTag/web/WEB-INF/wsdl/78.47.79.221_8080/DocutankCentral/Central4ClientWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.webservice.central.docutank.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.webservice.central.docutank.org/" name="Central4ClientWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.webservice.central.docutank.org/" schemaLocation="http://78.47.79.221:8080/DocutankCentral/Central4ClientWS?xsd=1"/>
</xsd:schema>
</types>
<message name="loginCentral">
<part name="parameters" element="tns:loginCentral"/>
</message>
<message name="loginCentralResponse">
<part name="parameters" element="tns:loginCentralResponse"/>
</message>
<message name="loginTank">
<part name="parameters" element="tns:loginTank"/>
</message>
<message name="loginTankResponse">
<part name="parameters" element="tns:loginTankResponse"/>
</message>
<message name="addNewUser">
<part name="parameters" element="tns:addNewUser"/>
</message>
<message name="addNewUserResponse">
<part name="parameters" element="tns:addNewUserResponse"/>
</message>
<message name="getNotAcceptTankUsersByLoggedUser">
<part name="parameters" element="tns:getNotAcceptTankUsersByLoggedUser"/>
</message>
<message name="getNotAcceptTankUsersByLoggedUserResponse">
<part name="parameters" element="tns:getNotAcceptTankUsersByLoggedUserResponse"/>
</message>
<message name="getAcceptTanksByLoggedUser">
<part name="parameters" element="tns:getAcceptTanksByLoggedUser"/>
</message>
<message name="getAcceptTanksByLoggedUserResponse">
<part name="parameters" element="tns:getAcceptTanksByLoggedUserResponse"/>
</message>
<message name="changeInviteStatus4TankUser">
<part name="parameters" element="tns:changeInviteStatus4TankUser"/>
</message>
<message name="changeInviteStatus4TankUserResponse">
<part name="parameters" element="tns:changeInviteStatus4TankUserResponse"/>
</message>
<portType name="Central4ClientWS">
<operation name="loginCentral">
<input wsam:Action="http://ws.webservice.central.docutank.org/Central4ClientWS/loginCentralRequest" message="tns:loginCentral"/>
<output wsam:Action="http://ws.webservice.central.docutank.org/Central4ClientWS/loginCentralResponse" message="tns:loginCentralResponse"/>
</operation>
<operation name="loginTank">
<input wsam:Action="http://ws.webservice.central.docutank.org/Central4ClientWS/loginTankRequest" message="tns:loginTank"/>
<output wsam:Action="http://ws.webservice.central.docutank.org/Central4ClientWS/loginTankResponse" message="tns:loginTankResponse"/>
</operation>
<operation name="addNewUser">
<input wsam:Action="http://ws.webservice.central.docutank.org/Central4ClientWS/addNewUserRequest" message="tns:addNewUser"/>
<output wsam:Action="http://ws.webservice.central.docutank.org/Central4ClientWS/addNewUserResponse" message="tns:addNewUserResponse"/>
</operation>
<operation name="getNotAcceptTankUsersByLoggedUser">
<input wsam:Action="http://ws.webservice.central.docutank.org/Central4ClientWS/getNotAcceptTankUsersByLoggedUserRequest" message="tns:getNotAcceptTankUsersByLoggedUser"/>
<output wsam:Action="http://ws.webservice.central.docutank.org/Central4ClientWS/getNotAcceptTankUsersByLoggedUserResponse" message="tns:getNotAcceptTankUsersByLoggedUserResponse"/>
</operation>
<operation name="getAcceptTanksByLoggedUser">
<input wsam:Action="http://ws.webservice.central.docutank.org/Central4ClientWS/getAcceptTanksByLoggedUserRequest" message="tns:getAcceptTanksByLoggedUser"/>
<output wsam:Action="http://ws.webservice.central.docutank.org/Central4ClientWS/getAcceptTanksByLoggedUserResponse" message="tns:getAcceptTanksByLoggedUserResponse"/>
</operation>
<operation name="changeInviteStatus4TankUser">
<input wsam:Action="http://ws.webservice.central.docutank.org/Central4ClientWS/changeInviteStatus4TankUserRequest" message="tns:changeInviteStatus4TankUser"/>
<output wsam:Action="http://ws.webservice.central.docutank.org/Central4ClientWS/changeInviteStatus4TankUserResponse" message="tns:changeInviteStatus4TankUserResponse"/>
</operation>
</portType>
<binding name="Central4ClientWSPortBinding" type="tns:Central4ClientWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="loginCentral">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginTank">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNotAcceptTankUsersByLoggedUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAcceptTanksByLoggedUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changeInviteStatus4TankUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Central4ClientWS">
<port name="Central4ClientWSPort" binding="tns:Central4ClientWSPortBinding">
<soap:address location="http://78.47.79.221:8080/DocutankCentral/Central4ClientWS"/>
</port>
</service>
</definitions>